/* Giao diện PC */
/* CSS-#Goals */
* {
  box-sizing: border-box;
}
.myh1 {
  margin: 0px 20px;
  padding: 20px 0;
  border-bottom: 2px solid #adb5bd;
}
.mrow {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0px 20px;
  /* padding: 5px 0; */
  border-bottom: 1px solid #adb5bd;
}
.img {
  display: flex;
  margin: auto;
  margin-top: 23px;
}
/* CSS #scopes */
.nd-scop {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* CSS-#Team */
.mrow-team {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0px 20px;
  padding: 10px 0;
}
.icon {
  display: flex;
  margin: auto;
  margin-top: 23px;
}
/* CSS-#prymary */
.mrow1 {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0px 20px;
  padding: 10px 0;
}
/* CSS-#timeline */
.mrow-num {
  display: grid;
  grid-template-columns: 20% 80%;
}
.num {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #495057;
  background-color: #748ffc;
  border-radius: 50%;
  display: flex;
  margin: auto;
}
.pnum {
  font-size: 1.5em;
  padding: 2px 8px;
  color: #fff;
}
.nd-time {
  border-bottom: 1px dashed #2b8a3e;
}
/* CSS layout */
.my-grid {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
#goals {
  grid-column: 1/2;
  grid-row: 1/2;
}
#scopes {
  grid-column: 1/2;
  grid-row: 2/3;
}
#team {
  grid-column: 2/3;
  grid-row: 1/2;
}
#primary {
  grid-column: 2/3;
  grid-row: 2/3;
}
#timeline {
  grid-column: 3/4;
  grid-row: 1/3;
}
/* CSS link về trang Digital CV */

.link a {
  text-decoration: none;
  position: fixed;
  top: 5%;
  right: 5%;
}
button {
  background-color: #2b8a3e;
  color: #fff;
}
/* Giao diện tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS layout */
  .my-grid {
    grid-template-columns: 100%;
  }

  #goals {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #scopes {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #team {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #primary {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #timeline {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  /* CSS #team */
  #team {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .h1-team {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .team-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .team-2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .team-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .team-4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
/* giao diện mobile */
@media screen and (max-width: 768px) {
  /* CSS layout */
  .my-grid {
    grid-template-columns: 100%;
  }

  #goals {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #scopes {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #team {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #primary {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #timeline {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  /* ẩn flag của #goals và icon của #team */
  .dnon {
    display: none;
  }
  .mrow-go {
    grid-template-columns: 100%;
  }
  .mrow-team {
    grid-template-columns: 100%;
  }
  /* CSS - layout Scopes */
  .nd-scop {
    grid-template-columns: 100%;
  }
}
